
*{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
  
}
.menuBarHolder{
  width: 100vw;
  height: 50px;
  background: #425c63;
  position: fixed;
  z-index: 5;
}
.sticks{
  position: fixed;
  top: 7.5px;
  left: 10px;
  z-index: 6;
  width: 50px;
  height: 50px;
}
.sticks .stick{
  width: 35px;
  height: 4px;
  background: white;
  margin: 5px 0 0 5px;
  transition: 0.3s all ease-in-out;
}
.menus{
  width: 100vw;
  height: ;
  background: #5370cd72;
  position: absolute;
  top: 50px;
  display: grid;
  transform: translateY(-100%);
  transition: 0.3s all ease-in-out;
  border: 0px solid;
  border-radius: 0 0 100% 100%;
}
.afterMenus{
  transform: translateY(0px);
   border: 0px solid;
  border-radius: 0px;
  transition: 0.3s all ease-in-out;
}
.menus li{
  padding: 40px 0 0 15px;
  text-align: center;
}
.menus li:nth-child(1){
  padding-top: 25px;
}
.menus li:nth-child(4){
  padding-bottom: 25px;
}


.menus li a{
  color: #141414;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  pointer-events: none;
}
.middle{
  transform: translateX(0);
  transition: 0.3s all ease-in-out;
}

.afterTop{
  transform: rotate(45deg);
  transition: 0.3s all ease-in-out;
  position: fixed;
  top: 15px;
}
.afterMiddle{
  transform: translateX(100vw);
  position: fixed;
  top: 15px;
  transition: 0.3s all ease-in-out;
}
.afterBottom{
  transform: rotate(-45deg);
  transition: 0.3s all ease-in-out;
  position: fixed;
  top: 15px;
}


.aboutUs{
  width: 95vw;
  height: 100px;
  font-size: 1rem;
  background: #a7a7a7;
  display: block;
  margin: 70px auto;
  padding: 10px;
  border: 0px solid;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 5px #393939;
}